.container {
    width: 114rem;
    margin: 0 auto;
}

.row {
    display: flex;
    flex-wrap: wrap;
    &--centered {
        align-items: baseline;
    }
}

[class*="col-"] {
    &:not(:last-child) {
        margin-right: 2rem;
    }
}

$breakpoints: ("sm": 36em, "md": 48em, "lg": 62em, "xl": 75em);

@each $breakpoint, $value in $breakpoints {
    @for $i from 1 through 12 {
        .col-#{$breakpoint}-#{$i} {
            display: block;
            width: 100%;

            @media only screen and (min-width:$value) {
                flex: $i;
            }
        }
    }
  
}
