//CAROUSEL
.carousel {
    position: relative;
    width: 100%;
    
    //head
    &__head {
        display: flex;
        justify-content: space-between;
        margin: 1.5rem 0;
        align-items: flex-end;
    }


    &__btn {
        &--external {
            padding: 0.5rem 1rem;
            border-radius: 4px;
            border: $light-gray-border;
            background: #fff;
            display: inline-flex;
            align-items: start;
            justify-content: center;
        }
    }
    &__control-icon {
        &--external {
            font-size: .8rem;
            color: lighten($light-gray-color-2, 20%);
        }
    }

    //body
    &__view {
        width: 100%;
        overflow: hidden;
    }

    &__content {
        transition: all .3s;
        &--large {
            display: flex;
        }
        &--small {
            display: grid;
            grid-template-columns: 100%;
            grid-template-rows: 100%;
        }

        &--slow-motion {
            transition: all .6s;
        }
    }

    &__item {
        transition: opacity .7s;
        &--small {
            grid-column: 1 / -1;
            grid-row: 1 / -1;
            opacity: 0;
        }

        &--visible {
            opacity: 1;
        }
        
    }


    &__dots-wrapper {
        position: absolute;
        z-index: 35;
    }

    &__dot {
        display: inline-block;
        background-color: transparent;
        border-width: 2px;
        border-style: solid;
        border-color:#fff;
        width: 8px;
        height: 8px;
        border-radius: 50%;
        transition: all .4s;
        &:not(:last-child) {
            margin-right: 1rem;
        }
        &:hover,
        &--selected {
            background-color: var(--carousel-dot-color);
        }
    }
}
