//CAROUSEL
.carousel {
    position: relative;
    width: 100%;
    
    //head
    &__head {
        display: flex;
        justify-content: space-between;
        margin: 1.5rem 0;
        align-items: center;
    }


    &__btn {
        &--external {
            padding: 0.5rem 1rem;
            border-radius: 4px;
            border: $light-gray-border;
            background: #fff;
            display: inline-flex;
            align-items: start;
            justify-content: center;
        }
    }

    &__control-icon {
        &--external {
            font-size: .8rem;
            color: lighten($light-gray-color-2, 20%);
        }
    }

    //body
    &__view {
        width: 100%;
        overflow: hidden;
    }

    &__content {
        display: flex;
        transition: all .3s;
    }

    &__item {
        flex: 0 0 50%;
        padding: 0 1rem;
    }


    &__dots-wrapper {
        position: absolute;
        display: flex;
        z-index: 10;
    }

    &__dot {
        background-color: #fff;
        width: .8rem;
        height: .8rem;
        border-radius: 100px;
        transition: all .4s;
        &:not(:last-child) {
            margin-right: 1rem;
        }
        &:hover,
        &--selected {
            background-color: var(--carousel-dot-color);
        }
    }
}
