@mixin pseudoLink($type) {
    @if $type == link {
        &:link,
        &:visited {
            @content;
        }
    }

    @if $type == hover {
        &:hover {
            @content;
        }
    }
}

@mixin modifiedHeading($type) {
    @if $type == dark {
        color: $light-gray-color-1;
    }

    @if $type == light {
        color: $light-gray-color-2;
    }

    @if $type == white {
        color: #fff;
    }
}