//FONTS
$font-primary: 'Lato', sans-serif;

//COLORS
$dark-gray-color: #111111;
$light-gray-color-1:#222222;
$light-gray-color-2:#777777;
$ligt-gray-color-3:#FAFAFA;
$light-red:rgb(238, 58, 58);

// TRANSITION
$default-transition: all .3s;

//BORDER
$small-rounded: 5px;