<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="css/carousel.css">
    <title>Carousel</title>
</head>
<body>
    <div class="box">
        <div class="controls">
            <span data-carousel-target="carousel1" data-carousel-direction="left">&larr;</span>
            <span data-carousel-target="carousel1" data-carousel-direction="right">&rarr;</span>
        </div>
        <div class="carousel" id="carousel1">
            <div class="carousel__view">
                <div class="carousel__content">
                    <div class="carousel__item">
                    </div>
                        <div class="carousel__item">
                        </div>
                        <div class="carousel__item">
                        </div>
                        <div class="carousel__item">
                        </div>
                        <div class="carousel__item">
                        </div>
                    </div>
                </div>
        </div>
    </div>
    <script src="script/carousel.js"></script>
</body>
</html>