<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="css/carousel.css">
    <title>Carousel</title>
</head>
<body>
    <div class="box">
        <div class="controls">
            <span data-carousel-target="carousel1" data-carousel-direction="left">&larr;</span>
            <span data-carousel-target="carousel1" data-carousel-direction="right">&rarr;</span>
        </div>
        <div class="carousel" id="carousel1">
            <div class="carousel__view">
                <div class="carousel__content">
                    <div class="carousel__item">
                        <div class="card">
                            <img src="https://source.unsplash.com/random/400x400?nature" alt="Pic1" class="card__img">
                            <h4 class="card__title">Explore new world</h4>
                            <p class="card__description">
                                Lorem ipsum, dolor sit amet consectetur adipisicing elit. Nobis quisquam pariatur beatae quos tenetur ratione quidem saepe deleniti, ipsa laudantium eius neque dignissimos vero voluptatibus voluptates harum eligendi eos aperiam.
                            </p>
                        </div>
                    </div>
                        <div class="carousel__item">
                            <div class="card">
                                <img src="https://source.unsplash.com/random/400x401?nature" alt="Pic1" class="card__img">
                                <h4 class="card__title">Enjoy your present</h4>
                                <p class="card__description">Lorem ipsum dolor, sit amet consectetur adipisicing elit. Quia non dicta nulla quibusdam error obcaecati repellat ducimus mollitia amet sint.</p>
                            </div>
                        </div>
                        <div class="carousel__item">
                            <div class="card">
                                <img src="https://source.unsplash.com/random/400x402?nature" alt="Pic1" class="card__img">
                                <h4 class="card__title">Never give up</h4>
                                <p class="card__description">Lorem ipsum dolor sit amet consectetur adipisicing elit. Voluptates temporibus, rerum ad blanditiis expedita, autem alias excepturi error atque eligendi adipisci quod consectetur voluptas?</p>
                            </div>
                        </div>
                        <div class="carousel__item">
                            <div class="card">
                                <img src="https://source.unsplash.com/random/400x403?nature" alt="Pic1" class="card__img">
                                <h4 class="card__title">Future is near</h4>
                                <p class="card__description">Lorem ipsum dolor sit amet consectetur adipisicing elit. Vero consequatur, natus autem magnam facilis impedit eum totam id eius iste! Fugit iusto commodi error deserunt cum veniam eos numquam praesentium odio unde?</p>
                            </div>
                        </div>
                        <div class="carousel__item">
                            <div class="card">
                                <img src="https://source.unsplash.com/random/400x399?nature" alt="Pic1" class="card__img">
                                <h4 class="card__title">Start your new journey</h4>
                                <p class="card__description">Lorem ipsum dolor sit amet consectetur adipisicing elit. Sapiente sint culpa, voluptatibus numquam officiis soluta similique quibusdam nam. Porro, quas! Soluta libero natus quia assumenda reprehenderit, voluptates mollitia ratione doloremque. Corrupti doloremque officia perferendis reprehenderit.</p>
                            </div>
                        </div>
                    </div>
                </div>
        </div>
    </div>
    <script src="script/carousel.js"></script>
</body>
</html>