.gallery {
    margin: 3rem 0;
    position: relative;
    z-index: 2;
    display: grid;
    grid-template-columns: 1fr 2fr repeat(3,1fr);
    grid-template-rows: repeat(2, min-content);

    @include responseQuery(xl) {
        grid-template-columns: 1fr 2fr repeat(2,1fr);
     }

    @include responseQuery(lg) {
        grid-template-columns: 1fr 2fr 1fr;
    }
    
    @include responseQuery(md) {
        grid-template-columns: 1fr 2fr;
     }
     @include responseQuery(sm) {
        grid-template-columns: 1fr;
        margin-top: 0;
        padding-top: 0;
     }
    &__card {
        display: grid;
        grid-template-columns: 100%;
        grid-template-rows: 100%;
        &--1 {
            @include responseQuery(sm) {
                display: none;
             }
        }

        &--2 {
            @include responseQuery(md) {
                display: none;
             }
        }

        &--3 {
            @include responseQuery(lg) {
                display: none;
             }

        }

        &--4 {
            @include responseQuery(xl) {
                display: none;
             }
            }
            
            &--5 {
                @include responseQuery(sm) {
                    display: none;
                 }
                
            }
            
            &--6 {
                @include responseQuery(md) {
                    display: none;
                 }
            }
            
            &--7 {
                @include responseQuery(lg) {
                    display: none;
                 }
            }
            
            &--8 {
                @include responseQuery(xl) {
                    display: none;
                 }
                
        }

    }

    &__carousel {
        grid-column: 2 / span 1;
        grid-row: 1 / span 2;
    }

    &__carousel-control {
        position: absolute;
        top: 50%;
        transform: translateY(-50%);
        z-index: 15;
        width: 3rem;
        height: 3rem;
        padding: 3rem;
        border-radius: 200px;
        background-color: rgba($light-gray-color-2, .5);
        transition: $default-transition;
        cursor: pointer;
        display: flex;
        align-items: center;
        justify-content: center;
        color: #fff;

        i {
            font-size: 2rem;
        }

        &:hover {
            background-color: rgba(#fff, .9);
            color: $light-gray-color-1;
        }

        &--left {
            left: 8%;
        }

        &--right {
            right: 8%;
        }
    }
    &__top-stories-label {
        position: absolute;
        top: 2rem;
        left: 2rem;
        @extend %label;
        background: $light-red;
        z-index: 15;
    }

    &__img {
        display: block;
        width: 100%;
        height: 100%;
        filter: brightness(70%);
    }
    &__img,
    &__news-details {
        grid-column: 1 / span 1;
        grid-row: 1 / span 1;
    }

    &__img {

    }

    &__news-details {
        z-index: 10;
        background-color: rgba(0, 0, 0, .15);
        height: 100%;
        display: flex;
        flex-direction: column;
        justify-content: flex-end;
        transition: $default-transition;
        padding: 0 1.5rem;
        overflow: hidden;
        gap: 1rem;
        &--large {
            padding-bottom: 2rem;
        }

        &--small {
            &:hover {
                background-color: rgba(255, 255, 255, .8);
            }

            @include responseQuery(lg) {
                padding-bottom: 1rem;
             }
        }
    }

    &__news-details--small:hover &__card-title {
        color: $light-gray-color-1;
    }

    &__news-description {
        font-size: 1.5rem;
        font-style: 200;
        color: darken($light-gray-color-2, 10%);
        height: 0;
        opacity: 0;
        transition: $default-transition;
        margin-bottom: 1rem;
        @include responseQuery(lg) {
            display: none;
         }
    }

    &__card:hover  &__news-description {
        opacity: 1;
        height: 4rem;

    }
}



