.header {
    @include responseQuery(sm) {
        padding: 1rem;
        background: $light-gray-color-1;
      }
    &__info {
        background: $dark-gray-color;
        padding: 1rem 0;
        @include responseQuery(md) {
            display: none;
         }
    }
    
    &__info-content {
        display: flex;
        justify-content: space-between;
        font-size: 1.1rem;
        color: $light-gray-color-2;
        @include responseQuery(lg) {
            justify-content: center;
         }
    }

    &__info-list {
        display: flex;
        align-items: center;
        @include responseQuery(lg) {
            display: none;
         }
    }

    &__info-item {
        padding-right:2rem;
        display: flex;
        align-items: center;
        &:not(:last-child) {
            border-right: 1px dotted currentColor ;
        }
        &:not(:first-child) {
            padding-left: 2rem;
        }
    }

    &__info-icon {
        font-size: 1.7rem;
        padding: 0 .5rem;
    }

    &__info-link {
        &:link,
        &:visited {
            color:currentColor;
            transition: $default-transition;
        }

        &:hover {
            color: #fff;
        }
    }

    &__info-icons {
        display: flex;

    }

    &__link-media {
        &:link,
        &:visited {
            color: currentColor;
            padding: .3rem 0;
            transition: $default-transition;
            border-radius: 3px;
        }

        &:hover {
            background-color: $light-red;
            color: #fff;
        }

        &:not(:last-child) {
            margin-right: .2rem;
        }
    }

    &__img-box {
        background: $light-gray-color-1;
        padding: 2rem 0;
    }

    &__img-box-content {
        display: flex;
        justify-content: space-between;
        align-items: center;
        @include responseQuery(xl) {
            justify-content: center;
        }

        @include responseQuery(sm) {
            justify-content: space-between;
        }
    }

    &__nav-toggler {
        display: none;
        @include responseQuery(sm) {
            display: block;
            height: 3.5rem;
            
        }
    }
    &__logo {
        @include responseQuery(sm) {
            max-width: 40%;
        }
    }
    &__toggler-btn {
        @include responseQuery(sm) {
           display: block;
           width: 3rem;
           height: 4px;
           background: rgba($ligt-gray-color-3, .6);
           position: relative;
           backface-visibility: hidden;
           border-radius: 5px;
           
           &::after,
           &::before {
               content: "";
               position: absolute;
               left: 0;
               width: 3rem;
               height: 4px;
               background: inherit;
               border-radius: inherit;
           }
    
           &::after {
               top: 2rem;
           }
    
           &::before {
                top: 1rem;
           }
    
        }
    }
}