%label {
    color: #fff;
    font-size: 1.1rem;
    padding: .3rem 1rem;
    border-radius: 2px;
    text-transform: uppercase;
    font-weight: 700;
    transition: $default-transition;
}

.news-info {
    display: flex;
    gap: 1rem;
    color: lighten($light-gray-color-2, 40%);
    font-size: 1.1rem;
    font-style: italic;
    &--centered {
        justify-content: center;
    }
    &--large {
        font-size: 1.3rem;
    }
    &__details {
        display: flex;
        align-items: baseline;
        &--dark {
            color: lighten($light-gray-color-2, 20%);
        }
        &--hoverable {
            cursor: pointer;
            & > * {
                transition: $default-transition;
            }

            small {
                display: inline-block;
                padding-right: .3rem;
            }

            &:hover {
                span {
                    color: $light-red;
                }
            }
        }
    }
    
    &__icon {
        font-size: 1.3rem;
        margin-right: .5rem;
    }
}

.news-link {
    cursor: pointer;
    transition: $default-transition;
    @include pseudoLink(link) {
        color: #fff;
    }
    @include pseudoLink(hover){
        color: $light-red !important;
        & > * {
            color: $light-red !important;
        }
    }

    &--alt {
        @include pseudoLink(link) {
            color: $light-gray-color-2;
        }
    }
}

.news-category-label {
    @include pseudoLink(link) {
        @extend %label;
        background: var(--current-color);
        width: max-content;
    }

    @include pseudoLink(hover) {
        opacity: .7;
    }
}

.news-column {
    display: flex;
    flex-direction: column;
    gap:2rem;
}

.photo-links-set {
    display: flex;
    flex-wrap: wrap;
    &__link {
        flex: 0 0 25%;
        transition: $default-transition;
        &:hover {
            opacity: .7;
        }
        margin: .5rem;
    }

    &__img {
        display: block;
        width: 100%;
        object-fit: cover;
    }
}