html {
    font-size: 62.5%;
}

%heading {
    text-transform: uppercase;
    font-weight: 900;
    transition: $default-transition;
}




.heading-1 {
    @extend %heading;
    font-size: 3rem;
}

.heading-2 {
    @extend %heading;
    font-size: 2rem;
}

.heading-3 {
    @extend %heading;
    font-size: 1.7rem;
}

.heading-4 {
    @extend %heading;
    font-size: 1.4rem;
}

.heading-5 {
    @extend %heading;
    font-size: 1.2rem;
}

.heading-6 {
    @extend %heading;
    font-size: .9rem;
}

.heading-1,
.heading-2,
.heading-3,
.heading-4,
.heading-5,
.heading-6 {
    &--dark {
        @include modifiedHeading(dark);
    }
    
    &--light {
        @include modifiedHeading(light);
    }

    &--white {
        @include modifiedHeading(white);
    }

    &--expanded {
        letter-spacing: .1rem;
    }
}

.text {
    font-size: 1.3rem;
    font-weight: 500;
    letter-spacing: .2px;
}