html {
  font-size: 62.5%;
  box-sizing: border-box; }

* {
  box-sizing: inherit;
  padding: 0;
  margin: 0; }

body {
  font-family: 'Roboto',sans-serif;
  width: 100%;
  min-height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center; }

.box {
  width: 70rem; }

.carousel {
  position: relative;
  width: 100%; }
  .carousel__view {
    width: 100%;
    overflow: hidden; }
  .carousel__content {
    display: flex;
    transition: all .3s; }
  .carousel__item {
    flex: 0 0 50%;
    padding: 0 1rem; }
  .carousel__img {
    width: 100%; }
  .carousel__dots-wrapper {
    position: absolute;
    display: flex;
    z-index: 10; }
  .carousel__dot {
    background-color: #fff;
    width: .8rem;
    height: .8rem;
    border-radius: 100px;
    transition: all .4s; }
    .carousel__dot:not(:last-child) {
      margin-right: 1rem; }
    .carousel__dot:hover, .carousel__dot--selected {
      background-color: var(--carousel-dot-color); }

.card__img {
  display: block;
  width: 100%; }

.card__title {
  font-size: 1.8rem; }

.card__description {
  font-size: 1.3rem; }
