@mixin pseudoLink($type) {
    @if $type == link {
        &:link,
        &:visited {
            @content;
        }
    }

    @if $type == hover {
        &:hover {
            @content;
        }
    }
}

@mixin modifiedHeading($type) {
    @if $type == dark {
        color: $light-gray-color-1;
    }

    @if $type == light {
        color: $light-gray-color-2;
    }

    @if $type == white {
        color: #fff;
    }
}

@mixin responseQuery($breakpoint) {
    @if $breakpoint == sm {
        @media only screen and (max-width:$sm) {
            @content;
        }
    }

    @if $breakpoint == md {
        @media only screen and (max-width:$md) {
            @content;
        }
    }

    @if $breakpoint == lg {
        @media only screen and (max-width:$lg) {
            @content;
        }
    }

    @if $breakpoint == xl {
        @media only screen and (max-width:$xl) {
            @content;
        }
    }
    @if $breakpoint == xxl {
        @media only screen and (max-width:$xxl) {
            @content;
        }
    }
}