.container {
    width: 114rem;
    margin: 0 auto;
    // @include responseQuery(xxl) {
    //     width: 100rem;
    // }

    @include responseQuery(xl) {
        width: 100%;
        padding: 0 1rem;
    }
}
.row {
    display: flex;
    flex-wrap: wrap;
    &--centered {
        align-items: baseline;
    }
}

[class*="col-"] {
    @media only screen and (min-width:$sm) {
        &:not(:last-child) {
            margin-right: 2rem;
        }
    }
}


@each $breakpoint, $value in $breakpoints {
    @for $i from 1 through 12 {
        .col-#{$breakpoint}-#{$i} {
            display: block;
            width: 100%;

            @media only screen and (min-width:$value) {
                flex: $i;
            }
        }
    }
  
}
